<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Identity Checker</title>
        <link rel="stylesheet" href="../../static/identityChecker/identityChecker.css">
    </head>

    <body>
        <div class="page-container">
            <div class="title">Identity Checker</div>

            
        <div class="video-container"> 
            <div id="countdown" onclick="captureImages()"></div>
<!--        <progress value="0" max="5" id="progressBar"></progress>-->
        <video width="640" height="480" align="center" id="player" controls autoplay></video>
        
<!--        <canvas id="canvas" width=320 height=240></canvas>-->
        
        </div>
            <div class="button-container">
                
                <a id="capture"><button type="button" onClick="captureImages()">Capture</button></a>
                
                <a id="download" download="image.png"><button type="button" onClick="download()">Download</button></a>
            </div>

        <script>
          const player = document.getElementById('player');
          const canvas = document.createElement('canvas');
            canvas.width = 640;
            canvas.height = 480;
            
          const context = canvas.getContext('2d');
            var pic1 = context.canvas;
            document.body.appendChild(pic1);
          const captureButton = document.getElementById('capture');

          const constraints = {
            video: true,
          };

          captureButton.addEventListener('click', () => {
            // Draw the video frame to the canvas.
            context.drawImage(player, 0, 0, canvas.width, canvas.height);
          });

          // Attach the video stream to the video element and autoplay.
          navigator.mediaDevices.getUserMedia(constraints)
            .then((stream) => {
              player.srcObject = stream;
            });
            
            function captureImages() {
                var count = 0;
                
                var timeleft = 5;
                var downloadTimer = setInterval(function(){
                  document.getElementById("countdown").innerHTML = timeleft + " Seconds Until Photo is Taken";
                  timeleft -= 1;
                  if(timeleft < 0){
                    clearInterval(downloadTimer);
                    
                  }
                }, 1000);
                document.getElementById("countdown").innerHTML = "Finished"
            }
            
            function download(){
                
        var download = document.getElementById("download");
        var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
                
        download.setAttribute("href", image);

    }
            
            
        </script>
        </div>
      
    </body>
</html>