<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Identity Checker</title>
        <link rel="stylesheet" href="../../static/identityChecker/identityChecker.css">
    </head>

    <body>
        <div class="page-container">
            <div class="title">Identity Checker</div>

            <div class="button-container">

        <video width="640" height="480" id="player" controls autoplay></video>
        <a id="capture" download="image.png"><button type="button" onClick="download()">Capture</button></a>
<!--        <button id="capture">Capture</button>-->
        <canvas id="canvas" width=320 height=240></canvas>
        <script>
          const player = document.getElementById('player');
          const canvas = document.getElementById('canvas');
          const context = canvas.getContext('2d');
          const captureButton = document.getElementById('capture');

          const constraints = {
            video: true,
          };

          captureButton.addEventListener('click', () => {
            // Draw the video frame to the canvas.
            context.drawImage(player, 0, 0, canvas.width, canvas.height);
          });

          // Attach the video stream to the video element and autoplay.
          navigator.mediaDevices.getUserMedia(constraints)
            .then((stream) => {
              player.srcObject = stream;
            });
            
            function download(){
        var download = document.getElementById("download");
        var image = document.getElementById("canvas").toDataURL("image/png")
                    .replace("image/png", "image/octet-stream");
        download.setAttribute("href", image);

    }
        </script>
                                <a id="download" download="image.png"><button type="button" onClick="download()">Download</button></a>
            </div>

        </div>
      
    </body>
</html>