<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Identity Checker</title>
        <link rel="stylesheet" href="../../static/identityChecker/identityChecker.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="../../static/identityChecker/identityChecker.js"></script>

    </head>

    <body>
        <div class="container">
            <div class="title">Identity Checker</div>
            <input type = "hidden" id = "first_name" value = "{{request.session.fname}}">
            <input type = "hidden" id = "last_name" value = "{{request.session.lname}}">

            
        <div class="video-container"> 
            <div id="countdown" onclick="captureImages()"></div>
            <video width="400" height="300" align="center" id="player" playsinline autoplay></video>
        
        </div>
            
        <div class="container">
            <div class="row" id="button-row">
                <div class="col-5">
                </div>

                <div class="col-2">
                    <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
                        <a id="restart"><button type="submit" class="btn btn-dark btn-lg">Restart</button></a>
                        {% csrf_token %}  
                    </form>

                </div>

                <div class="col-5">
                </div>
                
                
                <div class="col">
                </div>
                
            </div>
        </div>
            
        <div class="row"> </div>
            
        <div class="container">
            <div class="row">
                <div class="col-2">
                </div>
                
                <div class="col-2">
                    <img src="../../static/identityChecker/{{request.session.fname}}_{{request.session.lname}}_1.png">
                </div>
                
                <div class="col-2">
                    <img src="../../static/identityChecker/{{request.session.fname}}_{{request.session.lname}}_2.png">
                </div>
                
                <div class="col-2">
                    <img src="../../static/identityChecker/{{request.session.fname}}_{{request.session.lname}}_3.png">
                </div>
                
                <div class="col-2">
                    <img src="../../static/identityChecker/{{request.session.fname}}_{{request.session.lname}}_4.png">
                </div>
                
                <div class="col-2">
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-2">
                </div>
                
                <div class="col-2">
                    <img src="../../static/identityChecker/{{request.session.fname}}_{{request.session.lname}}_5.png">
                </div>
                
                <div class="col-2">
                    <img src="../../static/identityChecker/{{request.session.fname}}_{{request.session.lname}}_6.png">
                </div>
                
                <div class="col-2">
                    <img src="../../static/identityChecker/{{request.session.fname}}_{{request.session.lname}}_7.png">
                </div>
                
                <div class="col-2">
                    <img src="../../static/identityChecker/{{request.session.fname}}_{{request.session.lname}}_8.png">
                </div>
                
                <div class="col-2">
                </div>
            </div>
            
                
            
        </div> 

        <script>
          const player = document.getElementById('player');
          const constraints = {
            video: true,
          };
            
          // Attach the video stream to the video element and autoplay.
          navigator.mediaDevices.getUserMedia(constraints)
            .then((stream) => {
              player.srcObject = stream;
            });
        </script>
            
        </div>
      
    </body>
</html>

