<!doctype html>

{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Identity Checker</title>
        <link rel="stylesheet" href="../../static/identityChecker/identityChecker.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="title">Identity Checker</div>

            
        <div class="container">
            <div class="row">
                <div class="col-3">
                </div>
                
                <div class="col-6">
<!--                    <img src= "{% static "identityChecker/face_output.pgm" %}">-->
                </div>
                
                <div class="col-3">
                </div>
                
            </div>
            
            <br>
            
            
            <div class="row">
                <div class="col-5">
                </div>
                
                <div class="col-2">
                    <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
                        <a id="restart"><button type="submit" class="btn btn-dark btn-lg">Restart</button></a>
                        {% csrf_token %}  
                    </form>
                    
                </div>
                
                <div class="col-5">
                </div>
                
            </div>
            
            <script>
               
            </script>
        </div> 
            
        
            
        </div>
      
    </body>
</html>