<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Identity Checker</title>
        <link rel="stylesheet" href="../../static/identityChecker/identityChecker.css">
    </head>

    <body>
        <div class="page-container">
            <div class="title">Identity Checker</div>

            <div class="button-container">
                <button id = "add-button">Add to Database</button>
            </div>

            <div class = "button-container">
                <button id = "identify-button">Check Identity</button>
            </div>
        </div>
      
    </body>
</html>