<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Identity Checker</title>
        <link rel="stylesheet" href="../../static/identityChecker/identityChecker.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="title">Identity Checker</div>
            
                <div class = "name-body">
                    <div class="row">
                        <p id="name-text">Enter your name for the Identity Checker:</p>
                    </div>
                    <div class="row" id="input-name-row">
                        <form class = "login_form" method="post" action="{% url 'add' %}">
                            <div class="container">
                                <div class="input-group mb-3">
                                  <input name = "fname" type="text" class="form-control" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                              
                                <div class="input-group mb-3">
                                  <input name = "lname" type="text" class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon2">
                                </div>
                                
                                
                            </div>
                            {% csrf_token %}
                            <button id="name-submit-button" type="submit" class="btn btn-dark btn-lg btn-block" value="submit"><span>Submit</span></button>
                        </form>
                    </div>
                </div>
                
                    
                
                
                
            
        </div>
      
    </body>
</html>



